div.menu-links-header {
  .menu-links-row {
    // Tabs should have "ears" (trailing bottom line past tab boundary).
    padding: 0 4px;

    border-bottom: 1px solid $primary-low;

    li {
      &.glyphs a {
        // Expand the click area a bit. The original value is `0.5em`.
        padding-left: 0.6em;
        padding-right: 0.6em;
      }

      a {
        // This is to make sure active and inactive tab icons have the same
        // size. `box-sizing` does not work and I have no idea why.
        border: 1px solid transparent;
        border-bottom: 0;
      }

      .active {
        border: 1px solid $primary-low;
        border-bottom: 0;
        position: relative;

        &:after {
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          z-index: z("header") + 1; // Higher than .menu-panel
          width: 100%;
          height: 0;
          content: "";
          border-top: 1px solid $secondary;
        }

        &:active,
        &:focus,
        &:hover {
          background-color: inherit;
        }
      }

      // `overflow: hidden` on `.user-activity-link` also hides the `::after`
      // pseudo element. This sets `overflow: hidden` on the child username
      // label instead.
      .user-activity-link {
        overflow: visible;
        display: flex;
        align-items: center;

        span.d-label {
          display: block;
          max-width: 130px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .d-icon-user {
          // The original value is 0.2em. There is a space character between
          // the icon and the label, and it adds to the space inbetween when
          // the elements were inline. So the new `margin-right` should be
          // `widthOfTheSpace` + 0.2em, which is roughly 0.475em.
          margin-right: 0.475em;
        }
      }
    }
  }
}

.user-menu {
  .notifications {
    li {
      a {
        & > div {
          // Truncate items with more than 2 lines. Despite not being
          // standardized yet, this seems to work across all major browsers.
          // https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp#Browser_compatibility
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}
